#estoque-grid{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:10px;
}

.posicao{
    height:80px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-weight:bold;
}

.preto{
    background:black;
}

.vermelho{
    background:red;
}

.azul{
    background:blue;
}

.vazio{
    background:#bdbdbd;
}

#expedicao-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}

.expedicao-item{
    height:70px;
    border-radius:8px;
    background:#28a745;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.preview{
    width:120px;
    height:50px;
    border-radius:10px;
    margin-top:10px;
}

.bloco-config{
    border:1px solid #ddd;
    border-radius:10px;
    padding:15px;
    margin-bottom:10px;
}

.alerta{
    color:orange;
    font-size:20px;
}